body{
    background-image: url(../img/couple.jpg);
    background-size: cover;
    background-attachment: fixed;
	overflow:scroll;
}

.container{
    display: flex;
    flex-flow: column nowrap;
}
.home{
    height: 650px;
}
.survey{
    height: 1600px;
}
.jumbotron{
    background-color: transparent;
    text-align: center;
    align-self: center;
}

.btn{
    background-color: #3D0066;
    border-color: #3D0066;
}

.btn:hover{
    background-color: #643385;
    border-color: #643385;
}


.info{
    display: flex;
    align-self: flex-start;
    margin-top: auto;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.fixed-bottom {
    position: relative;
}

.card{
    background: rgba(255, 255, 255, .5);
    margin-top: 2em;
}
